{% extends "base.html" %}
{% block title %} BeFit {%endblock %}
 {% block content %} 

 <main class="pt-12 md:pt-24">
  <section class="container w-full mx-auto px-4 grid lg:grid-cols-2 space-y-12 md:space-y-0">
      <div class="flex flex-col px-0 text-left md:w-3/5 lg:w-full lg:text-left space-y-4 gap-5">
          <div class="flex items-center justify-center lg:justify-start">
              <img class="h-5" src="../static/logo_4.png" alt="logo" />
              <h4 class="ml-2 text-sm font-bold tracking-widest text-primary">
                  WELCOME TO BEFIT
              </h4>
          </div>
          <div class="px-4 md:px-0">
              <h1
                  class="mb-8 text-4xl font-extrabold leading-tight text-left md:text-left text-dark-grey-900 lg:text-5xl xl:w-11/12 xl:text-6xl">
                  Easily manage your diet, reach goals effortlessly. Your journey starts here
              </h1>
              <p class="mb-4 text-base font-medium leading-7 text-dark-grey-600 xl:w-3/4">
                Introducing BeFit, your personalized companion on the journey to a healthier you! 
                Say goodbye to guessing games and hello to effortless diet management. 
                With our intuitive tool, you'll unlock the secret to sustainable weight loss and improved wellness.
              </p>
              <p class="mb-10 text-base font-medium leading-7 text-dark-grey-600 xl:w-4/4">
                Transform your lifestyle and embrace a happier, healthier you with BeFit. 
                Use now and take the first step towards a brighter future!
              </p>
          </div>

          <div class="flex justify-center md:justify-start items-center lg:flex-row gap-2">
              <button
                  class="flex items-center rounded-xl bg-purple-500 px-5 py-4 text-sm font-medium text-white transition hover:bg-purple-600 focus:bg-purple-700">
                  Get started now
              </button>
          </div>
      </div>
      <div class="inline-flex justify-end">
          <img class="h-full md:h-4/5 rounded-2xl" src="../static/hero-1.jpeg" alt="header image" />
      </div>
  </section>

  <section class="bg-purple-50">
      <div class="mx-auto h-full lg:container">
          <div class="flex h-full flex-col items-center justify-center md:flex-col lg:flex-row">
              <div class="col-span-1 flex flex-col items-center gap-6 px-10 py-10 lg:px-4 xl:px-2">
                  <div>
                      <div
                          class="flex h-16 w-16 items-center justify-center rounded-2xl bg-purple-500 transition hover:bg-purple-600 focus:bg-purple-blue-700">
                          <svg class="fill-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" height="1em"
                              viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                              <path
                                  d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z" />
                          </svg>
                      </div>
                  </div>
                  <div class="flex flex-col gap-2 px-2 text-center">
                      <h4 class="text-2xl font-extrabold text-dark-grey-900">
                          BMI Check
                      </h4>
                      <p class="text-base font-medium leading-7 text-dark-grey-600 lg:px-8">
                          Check your BMI for insights into your health and fitness levels.
                      </p>
                  </div>
              </div>
              <div class="col-span-1 flex flex-col items-center gap-6 rounded-2xl px-10 py-10 shadow-main">
                  <div>
                      <div
                          class="flex h-16 w-16 items-center justify-center rounded-2xl bg-purple-500 transition hover:bg-purple-blue-600 focus:bg-purple-blue-700">
                          <svg class="fill-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" height="1em"
                              viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                              <path
                                  d="M96 352V96c0-35.3 28.7-64 64-64H416c35.3 0 64 28.7 64 64V293.5c0 17-6.7 33.3-18.7 45.3l-58.5 58.5c-12 12-28.3 18.7-45.3 18.7H160c-35.3 0-64-28.7-64-64zM272 128c-8.8 0-16 7.2-16 16v48H208c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h48v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V256h48c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H320V144c0-8.8-7.2-16-16-16H272zm24 336c13.3 0 24 10.7 24 24s-10.7 24-24 24H136C60.9 512 0 451.1 0 376V152c0-13.3 10.7-24 24-24s24 10.7 24 24l0 224c0 48.6 39.4 88 88 88H296z" />
                          </svg>
                      </div>
                  </div>
                  <div class="flex flex-col gap-2 px-2 text-center">
                      <h4 class="text-2xl font-extrabold text-dark-grey-900">
                          Calorie Tracking
                      </h4>
                      <p class="text-base font-medium leading-7 text-dark-grey-600 lg:px-8">
                          Track your calories effortlessly for better control over your health and diet.
                      </p>
                  </div>
              </div>
              <div class="col-span-1 flex flex-col items-center gap-6 px-10 py-10 lg:px-4 xl:px-2">
                  <div>
                      <div
                          class="flex h-16 w-16 items-center justify-center rounded-2xl bg-purple-500 transition hover:bg-purple-blue-600 focus:bg-purple-blue-700">
                          <svg class="fill-white h-8 w-8" xmlns="http://www.w3.org/2000/svg" height="1em"
                              viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                              <path
                                  d="M96 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V224v64V448c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V384H64c-17.7 0-32-14.3-32-32V288c-17.7 0-32-14.3-32-32s14.3-32 32-32V160c0-17.7 14.3-32 32-32H96V64zm448 0v64h32c17.7 0 32 14.3 32 32v64c17.7 0 32 14.3 32 32s-14.3 32-32 32v64c0 17.7-14.3 32-32 32H544v64c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32V288 224 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32zM416 224v64H224V224H416z" />
                          </svg>
                      </div>
                  </div>
                  <div class="flex flex-col gap-2 px-2 text-center">
                      <h4 class="text-2xl font-extrabold text-dark-grey-900">
                          Report Generation
                      </h4>
                      <p class="text-base font-medium leading-7 text-dark-grey-600 lg:px-8">
                          Generate insightful reports effortlessly for a clear overview of your progress.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="calculator" title="Body Mass Index Calculator" class="flex flex-col w-full lg:flex-row">
      <div
          class="flex flex-col items-center gap-y-6 text-center rounded-b-heading p-6 min-h-[40rem] bg-gradient-to-r from-[#D6E6FE] to-[#D6FCFE] lg:py-24 md:px-22 lg:pl-24 lg:pr-[26rem] lg:max-w-[61rem] lg:h-[46rem] lg:items-start lg:text-left">
          <img alt="Company logo" loading="lazy" decoding="async" data-nimg="1" class="lg:w-[64px]"
              style="color:transparent" src="../static/logo_4.png">
          <div class="flex flex-col gap-y-6 lg:mt-12 lg:gap-y-9">
              <h1 class="text-gunmetal text-heading-l text-5xl font-bold md:px-[8rem] lg:px-0 lg:text-heading-xl">
                  Body Mass Index Calculator</h1>
              <div class="text-dark-electric-blue leading-body">Better understand your weight in relation to your
                  height using our body mass index (BM) calculator. While BMI is not the sole determinant of a
                  healthy weight, it offers a valuable starting point to evaluate your overall health and
                  well-being.</div>
          </div>
      </div>
      <div
          class="mt-2 md:mt-0 flex flex-col gap-y-6 mx-5 -mt-[45%] bg-white text-gunmetal shadow-2xl rounded-md p-6 md:-mt-[35%] lg:mt-[10.4rem] lg:-ml-[15%] lg:w-[30rem] lg:h-fit lg:p-8">
          <div class="space-y-2">
              <div class="text-2xl font-bold">Enter your details below</div>
              <div class="text-body-s">Enter your height and weight and you’ll see your BMI result here</div>
          </div>

          <div class="grid grid-cols-2 gap-x-6">
              <div class="flex flex-start items-center"><input id="metric-system" type="radio"
                      class="mr-5 w-8 h-8 appearance-none border bg-pure-white border-borders rounded-full hover:border-blue hover:cursor-pointer checked:hover:border-borders checked:border-8 checked:bg-blue"
                      name="system" value="metric"><label for="metric-system"
                      class="text-body-m font-semibold">Metric</label></div>
              <div class="flex flex-start items-center"><input id="imperial-system" type="radio"
                      class="mr-5 w-8 h-8 appearance-none border bg-pure-white border-borders rounded-full hover:border-blue hover:cursor-pointer checked:hover:border-borders checked:border-8 checked:bg-blue"
                      name="system" value="imperial"><label for="imperial-system"
                      class="text-body-m font-semibold">Imperial</label></div>
          </div>
          <form class="grid gap-y-4">
              <div class="col-span-1 flex flex-col gap-y-2"><label for="height"
                      class="text-body-s font-normal leading-body text-dark-electric-blue">Height</label>
                  <div class="flex items-center"><input id="height" placeholder="0"
                          class="font-custom text-heading-m w-full px-6 py-3.5 rounded-xl border border-borders bg-pure-white focus:outline-none"
                          name="height"><span
                          class="text-heading-m text-blue font-semibold -ml-12 md:-ml-16">cm</span></div>
              </div>
              <div class="col-span-1 flex flex-col gap-y-2">
                  <label for="weight" class="text-body-s font-normal leading-body text-dark-electric-blue">
                      Weight
                  </label>
                  <div class="flex items-center">
                      <input name="weight" id="weight" placeholder="0"
                          class="font-custom text-heading-m w-full px-6 py-3.5 rounded-xl border border-borders bg-pure-white focus:outline-none">
                      <span class="text-heading-m text-blue font-semibold -ml-12 md:-ml-16">kg</span>
                  </div>
              </div>
          </form>

          <button
              class="w-full bg-purple-500 text-white text-md font-semibold rounded-lg py-3.5">Calculate</button>
      </div>
  </section>

  <section class="flex flex-col mx-6 lg:gap-y-10 md:mx-10 lg:mx-[8.75rem]">
      <div
          class="flex flex-col justify-around gap-y-10 md:flex-row md:gap-x-[4rem] lg:gap-x-[8.75rem] md:-ml-[12%] lg:ml-0">
          <img alt="Man eating sushi" loading="lazy" width="375" height="352" decoding="async" data-nimg="1"
              class="lg:w-[564px] lg:h-[533px]" style="color:transparent"
              src="../static/image-man-eating.webp">
          <div class="flex flex-col gap-y-8"><img alt="Line curved to the left" loading="lazy" width="85"
                  height="200" decoding="async" data-nimg="1" class="hidden self-end lg:flex"
                  style="color:transparent" src="../static/curve.svg">
              <h1 class="text-heading text-gunmetal text-5xl font-bold  lg:text-heading-l">
                  What your BMI result means</h1>
              <div class="text-gray-900 text-lg">A BMI range of 18.5 to 24.9 is considered a
                  'healthy weight.' Maintaining a healthy weight may lower your chances of experiencing health
                  issues later on, such as obesity and type 2 diabetes. Aim for a nutritious diet with reduced fat
                  and sugar content, incorporating ample fruits and vegetables. Additionally, strive for regular
                  physical activity, ideally about 30 minutes daily for five days a week.</div>
          </div>
      </div>
      <div class="grid gap-y-10 gap-x-6 my-10 lg:grid-cols-3">
          <div class="flex flex-col gap-y-4 md:flex-row lg:flex-col"><img alt="Food icon" loading="lazy"
                  width="64" height="64" decoding="async" data-nimg="1" style="color:transparent"
                  src="../static/icon-eat.svg">
              <div class="flex flex-col gap-y-6 md:mx-10 md:gap-y-8 lg:mx-0">
                  <h2 class="text-heading-m text-gunmetal leading-heading-m font-semibold md:col-span-4">Healthy
                      eating</h2>
                  <div class="text-body text-dark-electric-blue">Healthy eating promotes weight control, disease
                      prevention, better digestion, immunity, mental clarity, and mood.</div>
              </div>
          </div>
          <div class="flex flex-col gap-y-4 md:flex-row lg:flex-col"><img alt="Dumbell icon" loading="lazy"
                  width="64" height="64" decoding="async" data-nimg="1" style="color:transparent"
                  src="../static/bumbell.svg">
              <div class="flex flex-col gap-y-6 md:mx-10 md:gap-y-8 lg:mx-0">
                  <h2 class="text-heading-m text-gunmetal leading-heading-m font-semibold md:col-span-4">Regular
                      exercise</h2>
                  <div class="text-body text-dark-electric-blue">Exercise improves fitness, aids weight control,
                      elevates mood, and reduces disease risk, fostering wellness and longevity.</div>
              </div>
          </div>
          <div class="flex flex-col gap-y-4 md:flex-row lg:flex-col"><img alt="Moon icon" loading="lazy"
                  width="64" height="64" decoding="async" data-nimg="1" style="color:transparent"
                  src="../static/icon-sleep.svg">
              <div class="flex flex-col gap-y-6 md:mx-10 md:gap-y-8 lg:mx-0">
                  <h2 class="text-heading-m text-gunmetal leading-heading-m font-semibold md:col-span-4">Adequate
                      sleep</h2>
                  <div class="text-body text-dark-electric-blue">Sleep enhances mental clarity, emotional
                      stability, and physical wellness, promoting overall restoration and rejuvenation.</div>
              </div>
          </div>
      </div>
  </section>
</main>

{% endblock %}
