{% extends "base.html" %} {% block title %} User Login {% endblock %} {% block
content %}
<div class="my-8">
  <form class="w-full max-w-sm" method="post">
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name"
          
        >
          Email
        </label>
      </div>
      <div class="md:w-2/3">
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          name="email"
          id="inline-full-name"
          type="text"
          placeholder="JaneDoe@example.com"
        />
      </div>
    </div>
    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="inline-password"
        >
          Password
        </label>
      </div>
      <div class="md:w-2/3">
        <input
          class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          name="usr_password"
          id="inline-password"
          type="password"
          placeholder="******************"
        />
      </div>
    </div>

    <!-- <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3"></div>
    <label class="md:w-2/3 block text-gray-500 font-bold">
      <input class="mr-2 leading-tight" type="checkbox">
      <span class="text-sm">
        Send me your newsletter!
      </span>
    </label>
  </div> -->
    <div class="md:flex md:items-center">
      <div class="md:w-1/3"></div>
      <div class="md:w-2/3">
        <button
          class="shadow bg-purple-500 hover:bg-purple-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
          type="submit"
        >
          Login
        </button>
        <a
          class="inline-block align-baseline font-bold text-sm text-purple-500 hover:text-purple-700"
          href="#"
        >
          Forgot Password?
        </a>
      </div>
      <div class="md:flex md:items-center">
        <p class="align baseline text-purple-500"
        >Don't Have an Account <a href="{{ url_for('register') }}">Register</a></p> 
      </div>
    </div>
  </form>
</div>
<!-- 
<div class="container mt-3">
    <h2>User Login</h2>
    <form class="container" method="post">
        
        <div class="mb-3 mt-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="{{ request.form['email'] }}">
      </div>
      <div class="mb-3 mt-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="usr_password" name="usr_password" plaseholder="Enter Password" value="{{ request.form['usr_password'] }}">
      </div>
        
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
        <p>Don't Have an Account<a href="{{ url_for('register') }}"> Register</a></p> 
    </div>
</div> -->
<!-- <script src="{{ url_for('static', filename='datepicker.js')}}"></script> -->
{% endblock %}
